
/* styles the skills, languages, */
.personalContent{
    margin-left: 75px;
    font-weight: bold;
}
/* styles navbar buttons so that hyperlink is not blue and underlined */
.no-style{
    color: white;
    text-decoration: none !important;
}
/* margin for main page title */
.titleMargin{
    margin-top: 40px;
}
/* Project description margin */
.projectDes{
    margin-top: 25px;
}
/* styles  */
.bottomSpacing{
    margin-bottom: 50px;
}

/* mainpage coder jump */
.jumpPic{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    height: 100px;
    width: 100px;
    opacity: 1;
}



@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}